.errorContainer {
  * {
    font-family: var(--font-family-secondary);
  }

  display: flex;
  justify-content: left;
  margin-top: 10em;
  flex-direction: column;
  text-align: center;
  align-items: center;

  img {
    width: 15em;
  }

  p {
    width: 18em;
    margin-top: 2em;
    color: var(--colour-neutral-500);
    font-size: var(--text-size-md);
  }
}
