.loadingPage {
  * {
    font-family: var(--font-family-secondary);
  }
}

.loadingPage img {
  width: 10em;
}

.loadingContainer {
  display: flex;
  justify-content: left;
  margin-top: 10em;
  flex-direction: column;
  text-align: center;
  align-items: center;

  p {
    margin-top: 1em;
    color: var(--colour-neutral-500);
    font-size: var(--text-size-sm);
  }
}
